{{#partial "contenido"}}

	<div class="form-group">
					<form role="form" action="/inicio" method="POST">
							
						<button  type="submit" class="btn btn-primary">Menu principal</button>	
					</form>
		</div>
	<h2>Cargar Cuenta</h2>



	<div class="table-responsive">
	<table class="table">
		<tr>
			
			<th>{{respuesta}}</th>
		</tr>
		
	</table>
	</div>



	

{{/partial}}
{{>base.hbs}}