{{#partial "contenido"}}
	<h2>Cargar Periodo para cuenta {{nombreCuenta}} de {{empresa}}</h2>
	
	
	<form role="form" action="/inicio" method="POST">
	<button type="submit" class="btn btn-primary inicio">Menu Principal</button>
	</form>


	<div class="form-group">

	
		<form action="/periodoCreado" method="POST"> 
		<p>Mes Inicial</p><select name="mesInicio" class="custom-select"> 
							<option value="-2">Seleccionar</option>
							<option value="Todos">Todos</option>
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
						</select>


		Año Inicio: <input type="text" name="FechaInicio">

						
			

	
		
		<p>Mes Final</p>
						<select name="mesFin" class="custom-select">
							<option value="-2">Seleccionar</option>
							<option value="Todos">Todos</option>
							
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
						</select>
		
		
		
		Año Fin: <input type="text" name="FechaFin">

		<p>                                </p>
		Valor: <input type="text" name="Valor">


		<button  type="submit" class="btn btn-primary">Crear Periodo</button>
		</form>
	</div>

{{/partial}} 
{{>base.hbs}}