{{#partial "contenido"}}
	<h2>Resgistrar nuevo usuario</h2>
	<h3 style="text-align:center">Ingrese datos</h3>


	<div class="form-group">
		<form action="/confirmaRegistro" method="POST"> 
		User: <input type="text" name="user">
		Password: <input type="password" name="password" size="20" maxlengh="20" />
		




		<button  type="submit" class="btn btn-primary">Confirmar</button>
		</form>
	</div>
{{/partial}}
{{>base.hbs}}